<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        #submit {
         -moz-border-radius: 5px;
         -webkit-border-radius: 5px;
         border-radius: 6px;
         color: black;
         font-family: 'Oswald';
         font-size: 20px;
         text-decoration: none;
         border: none;
        }
        #submit:hover {
         border: none;
         outline: grey;
         box-shadow: 0px 0px 1px #777;
        }
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a style="position: absolute; top:50px; left: 200px;" href="//127.0.0.1:5000/home/">
            <img alt="Qries" src="https://images2.imgbox.com/1f/ca/x7FRUQM2_o.jpg"
            width="320" height="132">
         </a>
         <button id ="submit" style="position: absolute; top:201px; left: 460px;" onclick="location.href='//127.0.0.1:5000/home/'" type="button">
            home</button>
        
        <button id ="submit" style="position: absolute; top:200px; left: 540px;" onclick="location.href='//127.0.0.1:5000/home/kevinmarquart'" type="button">
            kevin marquart</button>
        
            <button id ="submit" style="position: absolute; top:201px; left: 700px;" onclick="location.href='//127.0.0.1:5000/home/projects'" type="button">
        projects</button>
        
        <button id ="submit" style="position: absolute; top:201px; left: 800px;" onclick="location.href='//127.0.0.1:5000/home/contact'" type="button">
            contact</button>
    
        <button id ="submit" style="position: absolute; top:201px; left: 895px;" onclick="location.href='//127.0.0.1:5000/home/hvaderkatte'" type="button">
        hvaderkatte</button>
        <b style="position: absolute; top:261px; left: 480px;" >puff tote</b>
        <p style="position: absolute; top: 278px; left: 480px;"></p>
    </div>
</body>
</html>